body{
 background-color: rgb(240, 240, 240);
color: black;
font-family: Times;
font-size:16px ;
}
h1{
color: rgb(240, 240, 240);

}

h2{
	color: white;
font-weight: bold;
background-color: black;
border-radius: 10px;
}

a{
text-decoration: none;
color: rgba(200, 200, 200, 0.5);

}


a:hover { 
color: black;


 }

#photoMalo{

	border-radius: 60%;
	box-shadow: 5px 5px 3px black;
}

/* customer class and div */

#block-général{
	width: 800px;
    margin: 30px auto;
}

@media (max-width : 500px) {
  
    #block-général {
    	width: 400px;
    }

}

@media (max-width : 760px) {
  
    #block-général {
    	width: 600px;
    }

}



#block-base{
    background: rgb(195, 195, 195);
    padding: 40px;
    box-shadow: 6px 7px 10px rgb(0 0 0 / 37%);
    border-radius: 7px;
    margin: 10px;
    text-align: center;
}

.card-white{
   background: rgb(210, 210, 210);
    padding: 40px;
    box-shadow: 6px 7px 10px rgb(0 0 0 / 37%);
    border-radius: 7px;
    margin: 10px;
    text-align: center; 

} 

.bnt-blue {
	background-color: #8b7a7a;
	color: white;
	padding: 10px 15px;
	border-radius: 10px;
}

.list-inline {

	list-style: none;
	padding left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;

}
.list-inline i {
    font-size: 50px;
    border-radius: 3px;

}